*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
aws-helper-docs
.idea/.rakeTasks
.idea/aws_helpers.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.project
/.bundle/
/.idea
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/aws_helper-docs/
/pkg/
/spec/reports/
/tmp/
